@font-face {
  font-family: "Logirent";
  src: url("./logirent-font/Logirent-Bold.otf") format("opentype"),
    url("./logirent-font/Logirent-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #212427;
  margin: 0;
  font-family: "Roboto", sans-serif;
  
}

.container {
  padding: 0 24px;
  /* max-width: 1440px; */
}

.cta-btn {
  padding: 10px 12px;
  border-radius: 15px;
  background: #05b0ffdf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  cursor: pointer;
  width: max-content;
  text-decoration: none;
}

.cta-btn span {
  flex: 1;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 24px;
}

.cta-btn .arrow {
  height: 40px;
  width: 40px;
  background: rgb(255, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.cta-btn:hover .arrow i {
  transition: 0.5s ease-in-out;
}

.cta-btn:hover .arrow i {
  animation: aniArrow1 0.5s;
}

@keyframes aniArrow1 {
  0% {
    transform: translate(0, 0);
  }
  40% {
    display: none;
    transform: translate(45px, 0);
  }
  60% {
    display: none;
    transform: translate(-45px, 0);
  }
  0% {
    transform: translate(0, 0);
  }
}

@media (max-width: 1040px) {
  .cta-btn {
    padding: 10px 8px;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 0 16px;
  }
  .cta-btn {
    padding: 4px 8px;
  }
  .cta-btn span {
    padding:10px 5px;
  }
  .cta-btn .arrow {
    height: 32px;
    width: 32px;
  }
}

.fixed-section {
  position: fixed;
}

.moving-section {
  padding-top: 100vh;
  border-radius: 24px;
}

@media (max-width: 720px) {
  .moving-section {
    padding-top: 70vh;
  }
}

/* ========= Hero Section ========== */

#hero-section {
  min-height: 100vh;
  width: calc(100vw - 48px);
  position: relative;
}

#hero-section .text-area {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
  color: white;
}

#hero-section .title-text {
  font-size: 80px;
  font-weight: 600;
  position: relative;
  left: 20px;
}

#hero-section .title-text:nth-of-type(1) {
  text-align: center;
}

#hero-section .title-text:nth-of-type(2) {
  text-align: center;
}

#hero-section .title-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  position: relative;
  left: 3.5rem;
  top: 0.3rem;
}

#hero-section .subtitle-text {
  margin-right: 40px;
  width: 220px;
  line-height: 1.2;
  color: #ffffff98;
  /* text-transform: uppercase; */
  font-size: 14px;
}

#hero-section .mobile-version {
  display: none;
}

#hero-section .subtitle-text b {
  color: #fff;
}

#hero-section .cta-btn {
  color: white;
  margin-left: auto;
  margin-right: auto;
    position: relative;
  left: 20px;
  top: 1.3rem;
}

#gradient-canvas {
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #030c22;
  --gradient-color-2: #050505;
  --gradient-color-3: #30005e;
  --gradient-color-4: #080256;
  z-index: -1;
  position: absolute;
  left: -24px;
}

@media (max-width: 1040px) {
  #hero-section .text-area {
    width: 600px;
  }
  #hero-section .title-text {
    font-size: 60px;
  }
  #hero-section .subtitle-text {
    font-size: 12px;
    width: 180px;
  }
}

@media (max-width: 720px) {
  #hero-section {
    min-height: 70vh;
    width: calc(100vw - 32px);
  }
  #hero-section .text-area {
    width: 440px;
  }
  #hero-section .title-text {
    font-size: 40px;
  }
  #hero-section .subtitle-text {
    font-size: 10px;
    width: 160px;
  }
  #gradient-canvas {
    left: -16px;
  }
}
@media (max-width: 480px) {
  #hero-section .text-area {
    width: 100%;
  }
  #hero-section .title-text {
    font-size: 32px;
  }
  #hero-section .title-subtitle {
    justify-content: flex-end;
  }
  #hero-section .subtitle-text {
    display: none;
  }
  #hero-section .mobile-version {
    display: block;
    width: 100%;
    margin-top: 24px;
  }
}

/* ========= Pitch Section ========== */

#pitch-section {
  min-height: 130vh;
  padding: 144px 0;
  position: relative;
  color: #212427;
  background: white;
  border-radius: 24px 24px 0 0;
}

#pitch-section .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
}

#pitch-section .title-text {
  font-size: 100px;
  font-weight: 600;
}

#pitch-section .title-text:nth-of-type(1) {
  text-align: right;
}

#pitch-section .title-text:nth-of-type(2) {
  text-align: left;
}

#pitch-section .title-text:nth-of-type(3) {
  text-align: right;
}

#pitch-section .title-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#pitch-section .highlight-text-div {
  background: black;
  padding: 0 32px;
  border-radius: 60px;
  margin-right: 12px;
  margin-left: 12px;
}

#pitch-section .highlight-text-div span {
  color: white;
}

#pitch-section .subtitle-text {
  margin-top: 64px;
  line-height: 1.5;
  max-width: 500px;
  text-align: left;
  margin-left: auto;
}

@media (max-width: 1040px) {
  #pitch-section {
    padding-top: 164px;
  }
  #pitch-section .text-area {
    width: 600px;
  }
  #pitch-section .title-text {
    font-size: 60px;
  }
  #pitch-section .subtitle-text {
    font-size: 12px;
    max-width: 380px;
  }
  #pitch-section .highlight-text-div {
    padding: 0 24px;
    margin: 0 6px;
  }
  #pitch-section .subtitle-text {
    margin-top: 48px;
  }
}

@media (max-width: 720px) {
  #pitch-section {
    padding-top: 84px;
    padding-bottom: 84px;
    min-height: 80vh;
    border-radius: 16px 16px 0 0;
  }
  #pitch-section .text-area {
    width: 400px;
  }
  #pitch-section .title-text {
    font-size: 32px;
  }
  #pitch-section .subtitle-text {
    font-size: 12px;
  }
  #pitch-section .highlight-text-div {
    padding: 0 24px;
  }
  #pitch-section .subtitle-text {
    margin-top: 48px;
  }
}
@media (max-width: 480px) {
  #pitch-section .text-area {
    width: calc(100% - 32px);
  }
  #pitch-section .title-text {
    font-size: 26px;
  }
}

/* ========= Feature Section ========== */
#feature-section {
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 100%;
  padding: 144px 0;
  background: #FAF9F6;
  position: relative;
}

#feature-section .title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  color: #101711;
}

#feature-section .features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#feature-section .card-outside {
  width: 25%;
}

#feature-section .card {
  padding: 12px;
  border-radius: 12px;
}

#feature-section .card .img {
  height: 250px;
  border-radius: 12px;
  width: -webkit-fill-available;
}

#feature-section .card .content {
  text-align: center;
  padding: 12px 12px 24px 12px;
}

#feature-section .card .title {
  font-size: 24px;
  margin-bottom: 12px;
}

#feature-section .card .desc {
  font-size: 14px;
  color: #00000090;
}

@media (max-width: 720px) {
  #feature-section {
    padding-top: 84px;
    padding-bottom: 84px;
    min-height: max-content;
  }
  #feature-section .card-outside {
    width: 50%;
    max-width: 50%;
  }
  #feature-section .card {
    padding: 12px 0;
  }
}

@media (max-width: 480px) {
  #feature-section .title {
    font-size: 32px;
  }
  #feature-section .card-outside {
    width: 100%;
    max-width: 100%;
  }
}

/* ========= Marquee Section ========== */
#partners {
  padding: 144px 0;
  background: #FAF9F6;
  /*background: white;*/
  position: relative;
}

#partners .title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
  color: #101711;
}

#partners .partners-marquee {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

#partners .partners-marquee img {
  max-width: 220px;
  padding: 24px;
  opacity: 0.6;
}

#partners .partners-marquee .invert {
  filter: invert(1);
}

#partners .partners img:hover {
  opacity: 0.5;
}


/* ========= Footer Section ========== */

/* ======- BODY -======*/
.conatiner-footer{
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0c0c0c;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(63,186,95);
background: linear-gradient(90deg, rgba(63,186,95,1) 0%, rgba(3,135,204,1) 40%, rgba(0,212,255,1) 78%);
    text-align: center;
}

/* footer text */
footer div p{
    font-family: rubik one;
    letter-spacing: 1px;
    text-transform: lowercase;
}

footer div p i.red{
    color: red;
    size: 24px;
}

/* footer text effects */
footer div p span{
    transition: background-color,color 1500ms ease;
    background-color: black;
    color: white;
}

footer div p span:hover{
    background-color:white ;
    color: black;
}

/* Footer Image Links */
footer a.github {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: rgb(13,38,54);
    padding: 18px;
    display:flex;
}

footer a.codepen {
    -webkit-transition:color 500ms ease;
    -moz-transition:color 500ms ease;
    -o-transition:color 500ms ease;
    transition: color 500ms ease;
    font-size: 3em;
    color: black;
    padding: 10px;
    display:flex;
}

/* image links hover effects */
footer a.github:hover {
    color: darkgray;
}

footer a.codepen:hover {
    color: darkgray;
}

/* Resposive Footer */
footer.mobile {
    display:none;
}




.centered-list {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.centered-list ul, li, a {
  list-style: none;
  text-decoration: none;
  color: #FAF9F6;
  cursor: pointer;
  
  
}

ul, li, a:hover {
  color: #05b0ffdf;
}

.logo {
  margin-left: -10px;
  position: relative;
  margin-bottom: 16px;
}




/* card style */

body {
  background-color: black;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.container-title {
  position: relative;
  background: rgb(63,186,95);
  background: linear-gradient(90deg, rgba(63,186,95,1) 0%, rgba(3,135,204,1) 40%, rgba(0,212,255,1) 78%);
  border-radius: 10px;
  padding: 10px 20px;
  bottom: 4.9em;
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}
.testimony-title{
   position: relative;
  background: rgb(63,186,95);
  background: linear-gradient(90deg, rgba(63,186,95,1) 0%, rgba(3,135,204,1) 40%, rgba(0,212,255,1) 78%);
  border-radius: 10px;
  padding: 0px 10px;
  top: 2rem;
  text-align: center;
  padding: 0 !important;
  margin-bottom: 40px;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
}

.card {
  max-width: 550px;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  img {
    margin-bottom: 32px;
  }
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 16px;
  max-width: 470px;
}




/* ========= Footer Section ========== */


.footer {
    background:#232a34;
	padding-bottom: 50px;
	padding-top: 80px;
}
.footer_menu {
	margin-bottom: 20px;
}
.footer_menu ul {
	list-style: none;
	text-align: center;
}
.footer_menu ul li{display: inline-block;}
.footer_menu ul li a {
	color:#fff;
	padding: 0 10px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.footer_menu ul li a:hover{color:#554c86;}

/*START FOOTER SOCIAL DESIGN*/
.footer_profile{margin-bottom:40px;}
.footer_profile ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.footer_profile ul li{
display: inline-block;
}
@media only screen and (max-width:480px) { 
.footer_profile ul li{margin:2px;}
}
.footer_profile ul li a img{width:60px;}

.footer_profile ul li a {
	background: #554c86;
	width: 40px;
	height: 40px;
	display: block;
	text-align: center;
	margin-right: 5px;
	border-radius: 50%;
	line-height: 40px;
	box-sizing: border-box;
	text-decoration: none;
	-webkit-transition: .3s;
	transition: .3s;
	color: #fff;
}
.footer_copyright {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}




/* ========= figure Section ========== */
figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
figure > * {
  grid-area: 1/1;
  transition: .4s;
}
figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #ffffff00;
  padding: .75rem;
  background: var(--c,#0009);
  clip-path: inset(0 var(--_i,100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}
figure:hover figcaption{
  --_i: 0%;
}
figure:hover img {
  transform: scale(1.2);
}
@supports not (-webkit-mask-clip: text) {
  figure figcaption {
   -webkit-mask: none;
   color: #fff;
  }
}

.pics-side {
  margin: 0;
  min-height: 50vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  
}




.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 4.5rem;
}

.nav-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 0px;
}


.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.centered-list {
    display: flex;
    list-style-type: none;
    
}

.centered-list li {
    margin-left: 20px;
    padding-right: 6rem;
}

.order-button {
    cursor: pointer;
    position: relative;
    background-color: #05b0ffdf;
    color: #FAF9F6;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .centered-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: white;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .centered-list.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}


